.my-container {
  max-width: 1920px;
  padding: 0 150px;
  margin: 0 auto;
  @include desktop-ex {
    padding: 0 80px;
  }
  @include desktop-lg {
    padding: 0;
  }
  @include desktop {
    padding: 0 50px;
  }
  @include tablet {
    padding: 0 30px;
  }
  @include mobile {
    padding: 0;
  }
}
.logo-width {
  width: 150px;
}
.navigation {
  transition: 0.2s ease;
  background: transparent;

  &.nav-bg {
    background: #262f40;
    @extend .shadow;
    @include desktop {
      top: -50px;
    }
  }

  @include desktop {
    .form-inline {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.nav-item {
  margin: 0;

  .nav-link {
    text-transform: none;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $white;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-size: 16px;
  @include desktop {
    padding: 10px;
    display: block;
  }
}

.navbar-brand-container {
  display: flex;
  align-items: center;

  span {
    line-height: 0 !important;
  }
}

#select-language {
  border: 1px solid $border-color;
  background: transparent;
  color: white;
}
