.partner-banner {
  background: url('/images/partner-bg.svg'), radial-gradient(70% 500px, #646F83, #A8B5CC);
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;

  h1 {
    color:white;
    font-weight: 700;
  }
}

.partner-small-logo {
  width: 90px;
  height: 90px;
}

.partner-medium-logo {
  width: 120px;
  height: 120px;
}

.partner-content {
  margin-bottom: 64px;
  h3, h4 {
    margin-top: 32px;
  }
  ul {
    list-style: disc;
  }
}