.partner-banner {
  background: url('/images/partner-bg.svg'), radial-gradient(70% 500px, #646F83, #A8B5CC);
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;

  h1 {
    color:white;
    font-weight: 700;
  }
}
