.partner-banner {
  background: url('/images/partner-bg.svg'), radial-gradient(70% 500px, #646F83, #A8B5CC);
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;

  h1 {
    color:white;
    font-weight: 700;
  }
}

.external-link {
  border: 1px solid #f56023;
  padding: 6px 10px;
  background-color: antiquewhite;
  border-radius: 20px;
}

.partner-small-logo {
  // width: 90px;
  // height: 90px;
  width: 80%;
}

.partner-medium-logo {
  // width: 120px;
  // height: 120px;
  width: 50%;
}

.partner-heading {
  margin-bottom: 32px;
}