/**
 * Variables
 *
 "* Group" Settings
 */

:root {
  --shade-color-h: 0;
  --shade-color-s: 0%;
  --shade-color-l: 0%;
}

// Color variables
$colors: (
  'orange-90': #331100,
  'orange-80': #662200,
  'orange-70': #993300,
  'orange-60': #cc4400,
  'orange-50': #ff5500,
  'orange-40': #ff7733,
  'orange-30': #ff9966,
  'orange-20': #ffbb99,
  'orange-10': #ffddcc,
  'purple-90': #110730,
  'purple-80': #230d60,
  'purple-70': #341490,
  'purple-60': #461ac0,
  'purple-50': #5721f0,
  'purple-40': #794df3,
  'purple-30': #9a7af6,
  'purple-20': #bca6f9,
  'purple-10': #ddd3fc,
  'blue-90': #061833,
  'blue-80': #0b2f65,
  'blue-70': #114798,
  'blue-60': #165eca,
  'blue-50': #1c76fd,
  'blue-40': #4991fd,
  'blue-30': #77adfe,
  'blue-20': #a4c8fe,
  'blue-10': #d2e4ff,
  'green-90': #16271c,
  'green-80': #2c4e38,
  'green-70': #417453,
  'green-60': #579b6f,
  'green-50': #6dc28b,
  'green-40': #8acea2,
  'green-30': #a7dab9,
  'green-20': #c5e7d1,
  'green-10': #e2f3e8,
  'yellow-90': #332912,
  'yellow-80': #665125,
  'yellow-70': #997a37,
  'yellow-60': #cca24a,
  'yellow-50': #ffcb5c,
  'yellow-40': #ffd57d,
  'yellow-30': #ffe09d,
  'yellow-20': #ffeabe,
  'yellow-10': #fff5de,
  'red-90': #311514,
  'red-80': #612a28,
  'red-70': #923e3b,
  'red-60': #c2534f,
  'red-50': #f36863,
  'red-40': #f58682,
  'red-30': #f8a4a1,
  'red-20': #fac3c1,
  'red-10': #fde1e0,
  'neutral-90': #0a0d0f,
  'neutral-80': #3b3d3f,
  'neutral-70': #6c6e6f,
  'neutral-60': #9d9e9f,
  'neutral-50': #cecfcf,
  'neutral-40': #d8d9d9,
  'neutral-30': #e2e2e2,
  'neutral-20': #ebecec,
  'neutral-10': #f5f5f5,
  'neutral-05': hsla(210, 5%, 98%, 1),
  'neutral-02': hsla(210, 5%, 99%, 1),
  'dark': hsla(30, 10%, 8%, 1),
  'light': hsla(0, 0%, 100%, 1),
  /* Primary Colors */ 'primary-light': hsla(13, 100%, 95%, 1),
  'primary': var(--color-orange-50),
  'primary-medium': var(--color-orange-60),
  'primary-dark': hsla(15, 75%, 39%, 1),
  'primary-transparent': hsla(15, 87%, 54%, 0.5),
  'accent': hsla(171, 100%, 43%, 1),
  'secondary-light': hsla(216, 100%, 94%, 1),
  'secondary': var(--color-blue-50),
  'tertiary': var(--color-purple-80),
  'quaternary': hsla(333, 76%, 54%, 1),
  'enterprise-black': hsla(231, 17%, 16%, 1),
  /* Color Shades */ 'text': var(--color-dark),
  'text-light': var(--color-neutral-70),
  'link': var(--color-secondary),
  'error': var(--color-red-50),
  'border': var(--color-neutral-50),
  'border-light': var(--color-neutral-30),
  'border-lighter': var(--color-neutral-10),
);
