/**
 * Variables
 *
 "* Group" Settings
 */

:root {
	--shade-color-h: 0;
	--shade-color-s: 0%;
	--shade-color-l: 0%;
}

// Color variables
$colors: (
	"orange-90": #331100,
	"orange-80": #662200,
	"orange-70": #993300,
	"orange-60": #CC4400,
	"orange-50": #FF5500,
	"orange-40": #FF7733,
	"orange-30": #FF9966,
	"orange-20": #FFBB99,
	"orange-10": #FFDDCC,
	"purple-90": #110730,
	"purple-80": #230D60,
	"purple-70": #341490,
	"purple-60": #461AC0,
	"purple-50": #5721F0,
	"purple-40": #794DF3,
	"purple-30": #9A7AF6,
	"purple-20": #BCA6F9,
	"purple-10": #DDD3FC,
	"blue-90": #061833,
	"blue-80": #0B2F65,
	"blue-70": #114798,
	"blue-60": #165ECA,
	"blue-50": #1C76FD,
	"blue-40": #4991FD,
	"blue-30": #77ADFE,
	"blue-20": #A4C8FE,
	"blue-10": #D2E4FF,
	"green-90": #16271C,
	"green-80": #2C4E38,
	"green-70": #417453,
	"green-60": #579B6F,
	"green-50": #6DC28B,
	"green-40": #8ACEA2,
	"green-30": #A7DAB9,
	"green-20": #C5E7D1,
	"green-10": #E2F3E8,
	"yellow-90": #332912,
	"yellow-80": #665125,
	"yellow-70": #997A37,
	"yellow-60": #CCA24A,
	"yellow-50": #FFCB5C,
	"yellow-40": #FFD57D,
	"yellow-30": #FFE09D,
	"yellow-20": #FFEABE,
	"yellow-10": #FFF5DE,
	"red-90": #311514,
	"red-80": #612A28,
	"red-70": #923E3B,
	"red-60": #C2534F,
	"red-50": #F36863,
	"red-40": #F58682,
	"red-30": #F8A4A1,
	"red-20": #FAC3C1,
	"red-10": #FDE1E0,
	"neutral-90": #0A0D0F,
	"neutral-80": #3B3D3F,
	"neutral-70": #6C6E6F,
	"neutral-60": #9D9E9F,
	"neutral-50": #CECFCF,
	"neutral-40": #D8D9D9,
	"neutral-30": #E2E2E2,
	"neutral-20": #EBECEC,
	"neutral-10": #F5F5F5,
	"neutral-05": hsla(210, 5%, 98%, 1),
	"neutral-02": hsla(210, 5%, 99%, 1),
	"dark": hsla(30, 10%, 8%, 1),
	"light": hsla(0, 0%, 100%, 1),
	/* Primary Colors */
	"primary-light": hsla(13, 100%, 95%, 1),
	"primary": var(--color-orange-50),
	"primary-medium": var(--color-orange-60),
	"primary-dark": hsla(15, 75%, 39%, 1),
	"primary-transparent": hsla(15, 87%, 54%, 0.5),
	"accent": hsla(171, 100%, 43%, 1),
	"secondary-light": hsla(216, 100%, 94%, 1),
	"secondary": var(--color-blue-50),
	"tertiary": var(--color-purple-80),
	"quaternary": hsla(333, 76%, 54%, 1),
	"enterprise-black": hsla(231, 17%, 16%, 1),
	/* Color Shades */
	"text": var(--color-dark),
	"text-light": var(--color-neutral-70),
	"link": var(--color-secondary),
	"error": var(--color-red-50),
	"border": var(--color-neutral-50),
	"border-light": var(--color-neutral-30),
	"border-lighter": var(--color-neutral-10),
)
