/**
 * Inputs
 *
 * Group: Settings
 */

:root {
	--input-height: 46px;
	--input-height-small: 32px;
	--input-height-medium: 64px;
	--input-height-large: 82px;

	--checkbox-size: 16px;
	--checkbox-size-small: 12px;
}


