$breakpoint-xs: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1140px;
$breakpoint-xxl: 1400px;

body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  margin: auto;
  border: 0;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 32px;
  padding-bottom: 80px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-title {
    margin-bottom: 40px;
  }
}

.hero-section {
  background: rgba(255, 247, 239, 1);
  background: linear-gradient(0deg, #8894a9, #262f40);
  padding-bottom: 0;

  h1 {
    font-weight: 700;
    margin-bottom: 24px;
    margin-left: -24px;
  }

  h1,
  p.lead {
    color: white;
  }

  ul.hero {
    list-style: disc;
    padding-inline-start: 0px;
  }

  div.asciicast {
    margin-top: 0px !important;
  }

  #asciicast-iframe-386188 {
    height: 480px !important;
  }
}

.dictionary-section {
  padding-bottom: 0px;
}

.page-section {
  padding-top: 80px;
}

.cta-section {
  background: #29507D;

  p {
    width: 75%;
    margin: 0 auto;
    color: white;
  }

  #emailForm {
    display: flex;
    justify-content: space-evenly;
  }

  .form-control {
    margin-top: 24px;
  }

  #emailForm #email.error {
    border-color: #c50a0a;
  }

  #errorMessage {
    display: none;
  }

  #errorMessage.active {
    display: block;
    color: #c50a0a;
  }

  #formMessage {
    display: none;
  }

  #formMessage.active {
    margin-top: 24px;
    display: block;
  }
}

.support-section {
  margin-top: 72px;
  padding: 72px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjkwIiBoZWlnaHQ9IjkwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMjYpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgyNDgsIDI1MCwgMjUyLDAuOCkiPjwvcmVjdD4gPHBhdGggZmlsdGVyPSJ1cmwoI2ZpbHRlcjFwYXR0ZXJuKSIgZmlsbD0icmdiYSgyMzcsIDIzNywgMjM3LDAuNykiIGQ9Ik0wIDAgaDQwIHY0MCBoLTQwIHoiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNLTQwIDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0tMzcuNzc3Nzc3Nzc3Nzc3NzggMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0zNS41NTU1NTU1NTU1NTU1NiAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNLTMzLjMzMzMzMzMzMzMzMzMzNiAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNLTMxLjExMTExMTExMTExMTExIDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0tMjguODg4ODg4ODg4ODg4ODkgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0yNi42NjY2NjY2NjY2NjY2NjQgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0yNC40NDQ0NDQ0NDQ0NDQ0NDMgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0yMi4yMjIyMjIyMjIyMjIyMiAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNLTIwIDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0tMTcuNzc3Nzc3Nzc3Nzc3NzggMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0xNS41NTU1NTU1NTU1NTU1NTQgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0xMy4zMzMzMzMzMzMzMzMzMzIgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS0xMS4xMTExMTExMTExMTExMSAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNLTguODg4ODg4ODg4ODg4ODg2IDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0tNi42NjY2NjY2NjY2NjY2NjQgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TS00LjQ0NDQ0NDQ0NDQ0NDQ0MyAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNLTIuMjIyMjIyMjIyMjIyMjIxNCAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNMCAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNMi4yMjIyMjIyMjIyMjIyMjE0IDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek00LjQ0NDQ0NDQ0NDQ0NDQ0MyAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNNi42NjY2NjY2NjY2NjY2NzEgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTguODg4ODg4ODg4ODg4ODkzIDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0xMS4xMTExMTExMTExMTExMTQgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTEzLjMzMzMzMzMzMzMzMzMzNiAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNMTUuNTU1NTU1NTU1NTU1NTU3IDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0xNy43Nzc3Nzc3Nzc3Nzc3OCAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNMjAgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTIyLjIyMjIyMjIyMjIyMjIzIDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0yNC40NDQ0NDQ0NDQ0NDQ0NDMgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTI2LjY2NjY2NjY2NjY2NjY3IDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0yOC44ODg4ODg4ODg4ODg4ODYgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTMxLjExMTExMTExMTExMTExNCAwIGgxLjExMTExMTExMTExMTExMTIgbDkgMjAgbC05IDIwIGgtMS4xMTExMTExMTExMTExMTEyIGw5IC0yMHpNMzMuMzMzMzMzMzMzMzMzMzQgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6TTM1LjU1NTU1NTU1NTU1NTU2IDAgaDEuMTExMTExMTExMTExMTExMiBsOSAyMCBsLTkgMjAgaC0xLjExMTExMTExMTExMTExMTIgbDkgLTIwek0zNy43Nzc3Nzc3Nzc3Nzc3ODYgMCBoMS4xMTExMTExMTExMTExMTEyIGw5IDIwIGwtOSAyMCBoLTEuMTExMTExMTExMTExMTExMiBsOSAtMjB6Ij48L3BhdGg+PC9wYXR0ZXJuPiA8ZmlsdGVyIGlkPSJmaWx0ZXIxcGF0dGVybiI+PGZlVHVyYnVsZW5jZSBiYXNlRnJlcXVlbmN5PSIwIiBudW1PY3RhdmVzPSIyIiByZXN1bHQ9InJlc3VsdDEiIHR5cGU9ImZyYWN0YWxOb2lzZSI+PC9mZVR1cmJ1bGVuY2U+PGZlRGlzcGxhY2VtZW50TWFwIGluMj0icmVzdWx0MSIgc2NhbGU9IjAiIHJlc3VsdD0icmVzdWx0MiIgeENoYW5uZWxTZWxlY3Rvcj0iUiIgaW49IlNvdXJjZUdyYXBoaWMiPjwvZmVEaXNwbGFjZW1lbnRNYXA+PGZlQ29tcG9zaXRlIGluMj0icmVzdWx0MiIgaW49IlNvdXJjZUdyYXBoaWMiIG9wZXJhdG9yPSJhdG9wIiByZXN1bHQ9ImZiU291cmNlR3JhcGhpYyI+PC9mZUNvbXBvc2l0ZT48L2ZpbHRlcj4gPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+'),
    linear-gradient(0deg, #0b61e2, #026be4);
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

.events-section {
  padding-top: 80px;
  padding-bottom: 16px;

  h4 {
    margin-bottom: 24px;
  }

  .card {
    justify-content: space-between;
  }

  .event-actions {
    justify-content: space-evenly;
  }

  .event-actions a.btn {
    padding: 10px 28px;
  }
}

.event-card {
  background: white;
  padding: 24px;

  .event-date {
    border-bottom: 1px solid #eeeeee;
  }

  .ti-calendar {
    float: right;
    color: #f05623;
  }

  h5,
  img {
    margin-bottom: 16px;
  }
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.rounded {
  border-radius: 12px !important;
}

.shadow {
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-light {
  color: $text-color-light !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.font-weight-medium {
  font-weight: 500;
}

.top-0 {
  top: 0 !important;
}
//
//
#accordion {
  .card {
    box-shadow: none !important;
  }
  .btn-link {
    color: $primary-color;
  }
  .btn-link {
    color: $primary-color;
    text-decoration: none;

    &.collapsed {
      color: black;
    }
  }
}

.box {
  background-color: #eee;
  border-radius: 30px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  padding: 100px 50px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.box h2 {
  margin: 10px 0 0;
  font-size: 40px;
}

.box p {
  color: #606060;
  font-size: 18px;
  // font-size: 23px;
  // font-family: "Open Sans", regular;
}

.box img {
  width: 400px;
  max-width: 100%;
}

.form-control {
  margin: 40px 0 20px;
  position: relative;
  border: unset;
  background: transparent;
}

.input {
  border: 0;
  border-radius: 6px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  width: 75%;
  &:focus {
    outline: unset;
  }
}

// button.btn {
//   border-radius: 50px;
//   font-size: 14px;
//   height: 42px;
//   padding: 12px 25px;
//   position: absolute;
//   top: 6px;
//   right: 12px;
// }

.blog-list-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.blog-individual {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 16px;
    margin-top: 32px;
  }
}

.blog-link {
  h5 {
    transition: all 0.3s;
  }
  &:hover h5 {
    color: $primary-color;
  }
}

.blog-date {
  a {
    color: $primary-color;
  }
}

.single-tag {
  padding: 4px 8px;
  border: 1px solid #d1d0d0;
  font-size: 12px;
  border-radius: 13px;
  background-color: #efefef;
}

.login_form {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  .welcome {
    text-align: center;
    font-size: 36px;
    color: $primary-color;
  }
}

.dictionary {
  background-color: white;

  .dictionary-title {
    border-bottom: 1px solid #bcbcbc;
    margin: 0 1px;
  }

  h4 {
    margin-bottom: 0;
  }

  img {
    width: 32px;
    margin: 0px;
  }

  p {
    font-size: 16px;
  }

  #more {
    display: none;
  }

  .expand-button-container {
    position: relative;
  }

  .expand-button {
    background-color: #f05623;
    padding: 8px 16px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #f05623;
    border-radius: 23px;
    position: absolute;
    top: 2px;
    height: 46px;

    i,
    span {
      font-weight: 700;
    }
  }

  .expand-button:hover {
    background-color: #2b303a;
    border: 1px solid #f56023;
  }
}

.home-order-list {
  padding-left: 10px;
  color: #000;
  font-size: 16px;
  .list-title {
    font-weight: 500;
    font-size: 16px;
  }
  .list-quote {
    font-size: 16px;
    color: #555;
    padding: 16px;
    background-color: #fef1e2;
  }
  .similar-list {
    display: inline-block;
    padding-left: 10px;
    li {
      display: inline-block;
      padding: 5px 15px;
      border: solid 1px #eee;
      border-radius: 50px;
      cursor: pointer;
      border: solid 1px #d1d1d1;
      font-size: 14px;
      transition: all 0.3s;
      &:hover {
        background-color: #d1d1d1;
        border-color: #d1d1d1;
      }
    }
  }
  .d-inline {
    font-size: 16px;
  }
}
.home-code {
  background-color: white;
  margin-top: 24px;

  .learn-more {
    color: $primary-color;
    border-bottom: solid 1px $primary-color;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background: $primary-color;
    }
  }
  pre.home-code-snippet {
    background: #1f3344 !important;
  }
  pre code {
    color: #e8b3b3 !important;
  }
}
.link-blue {
  color: $primary-color;
  transition: all 0.3s;
  &:hover {
    color: $blue;
  }
}

.link-grey {
  color: $primary-color;
  transition: all 0.3s;
  &:hover {
    color: #263040;
  }
}

.nav-next {
  &:hover {
    color: #263040;
  }
}
pre {
  padding: 10px;
}
.font-i {
  font-style: italic;
}
.color-green {
  color: $green;
}

.blog-list {

  .blog-overview {

    p.author-info {
      a {
        color: #f56023;
      }
    }
  }

}

.blog-content {
  a {
    color: $primary-color;

    &:hover {
      color: $blue;
    }
  }

  table {
    border: 1px solid $primary-color;
    padding: 20px 0;
    margin: 20px 0;
    th {
      border: 1px solid $primary-color;
      padding: 5px 10px;
      text-align: left !important;
    }
    tr {
      border: 1px solid $primary-color;
      padding: 5px 10px;
      td {
        border: 1px solid $primary-color;
        padding: 5px 10px;
        text-align: left !important;
      }
    }
  }
  ul,
  ol {
    margin: 20px 0;
    padding-left: 15px;
    li {
      margin: 15px 0;
    }
  }

  ul {
    list-style: disc;
  }
}
.gist-file {
  table {
    tr {
      border: unset;
      td {
        border: unset;
      }
    }
  }
}

#customer-quote {
  padding: 48px 96px;
  background: #e3e8ef;
  margin-bottom: -72px;
  margin-top: 72px;

  blockquote {
    background: #e3e8ef;
    border-left: 10px solid #abb2ba;
    margin: 1.5em 0;
    padding: 0.5em 16px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #abb2ba;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  h6 {
    margin-top: 32px;
  }

  .carousel-inner {
    width: 50%;
    margin: 0 auto;
  }
}

.nav-dropdown {
  width: 240px;
  margin-top: -16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  min-width: 240px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;

  &.show {
    display: block;
  }

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

// this is valid if we use asciinema player, not embedding from asciinema.org.
// pre.asciinema-terminal {
//   height: 32em !important;
// }

@media (min-width: $breakpoint-xxl) {
  .docs-content {
    max-width: 1320px;
  }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
  .hero-section {
    h1 {
      margin-left: 0px;
    }
    ul.hero {
      padding-inline-start: 40px;
    }
  }
  #customer-quote {
    padding: 32px;
    .carousel-inner {
      width: 80%;
    }
  }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .hero-section {
    h1 {
      font-size: 24px;
    }
    li {
      font-size: 18px;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .hero-section {
    .container {
      padding: 0 24px;
    }
    h1 {
      margin-left: 0px;
      font-size: 3rem;
    }
    ul.hero {
      padding-inline-start: 20px;
    }
  }

  .events-section {
    .event-header {
      margin-bottom: 24px;
      text-align: center;
    }
  }

  .cta-section {
    p {
      width: 100%;
    }

    .form-control {
      height: auto;
      margin-bottom: 0px;

      button {
        position: relative;
        right: 0px;
        top: 0px;
        margin-top: 16px;
      }
    }

    #emailForm {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      input {
        width: 100%;
      }
    }
  }

  #customer-quote {
    padding: 32px;
    .carousel-inner {
      width: 100%;
    }
  }
}
