{{ define "main" }}
    <section class="pt-5 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>Blog</h1>
            <p>Stay up to date on the latest GetIstio news</p>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-5 pt-3 blog-list">
      <div class="container">
        <div class="row justify-content-center">
          {{ $pages :=  where .Data.Pages "Section" "blog" }}
          {{ range $pages }}
            {{ if not (in .Params.hidden "true") }}
              <div class="col-sm-12 col-lg-10 my-5 align-self-center">
                <div class="row align-items-center">
                  <div class="col-12 col-sm-12 col-lg-4 col-xl-3">
                    {{ with .Params.thumbnail }}
                    <img src="{{.}}" class="card-img-top blog-list-image" alt="..." />
                    {{ else }}
                    <img src="/images/blog-default.png" class="card-img-top blog-list-image" alt="..."  />
                    {{ end }}
                  </div>

                  <div class="col-12 col-sm-12 col-lg-8 col-xl-9 blog-overview">
                    <p>{{ dateFormat "Jan 02, 2006" .Date }} / {{ math.Round (div (countwords .Content) 220.0) }} min read</p>
                    <a href="{{ .Permalink | relURL }}" class="blog-link"><h5 class="card-title">{{.Title}}</h5></a>
                    {{ if isset .Params "author"}}
                      <p class="author-info">by {{ .Params.Author | markdownify }}</p>
                    {{ end }}
                    <p class="card-text mb-3">
                      {{ .Params.Description }}
                    </p>
                    <a href="{{ .Permalink | relURL }}">Continue Reading →</a>
                  </div>
                </div>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>

{{ end }}
