{{ define "main" }}

    <section class="py-5">
      <div class="container">

        <div class="row">
          {{ $pages :=  where .Data.Pages "Section" "blog" }}
                {{ range $pages }}
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                      <div class="card match-height">
                        {{ with .Params.thumbnail }}
                        <img
                          src="{{.}}"
                          class="card-img-top"
                          alt="..."
                        />
                        {{ end }}
                        <div class="card-body  d-flex flex-column justify-content-center">
                          <h5 class="card-title">{{.Title}}</h5>
                          <p class="card-text mb-3">
                            {{ .Params.Description }}
                          </p>
                          <a href="{{ .Permalink }}" class="stretched-link">Read More</a>
                        </div>
                      </div>                      
                    </div>
                {{ end }}
        </div>
      </div>
    </section>

{{ end }}