<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partialCached "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
  {{- partialCached "footer.html" . -}}
  <!-- asciinema js -->
  {{/*  <script src="{{ .Site.BaseURL }}js/asciinema-player.js"></script>  */}}
  <!-- GitHub button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>