{{ define "main" }} {{ $data := index .Site.Data .Site.Language.Lang }} {{-
partial "community-banner.html" . -}} {{ with $data.homepage.subscribe }}
<section class="cta-section py-4">
  <div class="container mw-100">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        {{ range .community_item }}
        <p>{{ .content }}</p>
        {{ end }}
        <div class="form-control cta-form" id="emailFormContainer">
          <form id="emailForm">
            <input id="email" type="email" class="input" placeholder="{{ i18n " work_email"}}" / required>
            <button class="c-button c-button--primary">{{ i18n "join_now" }}</button>
          </form>
        </div>
        <span id="errorMessage">{{ .error_message }}</span>
        <p id="formMessage">{{ .form_message }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
<section class="community-events">
  <div class="container">
    <h3 class="text-center my-4">
      {{ i18n "upcoming_getistio_community_events" }}
    </h3>
    <div class="row">
      {{ range .Site.Taxonomies.categories.event }} {{ if eq
      .Page.Params.pastEvent false }}
      <div class="col-lg-6 mb-4 p-4">
        <div class="card match-height event-card">
          <p class="event-date pb-2">
            {{ if .Page.Params.eventEndDate }} {{ dateFormat (i18n
            "date_format") .Page.Params.eventDate }} - {{ dateFormat (i18n
            "date_format") .Page.Params.eventEndDate }} {{ else }} {{ dateFormat
            (i18n "date_format") .Page.Params.eventDate }} {{ dateFormat (i18n
            "minute") .Page.Params.eventDate }} {{ .Page.Params.timezone }} {{
            end }}
            <span><i class="ti-calendar"></i></span>
          </p>
          <a href="{{ .Page.RelPermalink }}">
            <h5>{{ .Page.Title }}</h5>
          </a>
          <img src="{{ .Page.Params.image |relURL }}" />
          <p>{{ .Page.Description }}</p>
          <div class="event-actions row">
            <a class="c-button c-button--primary-outline" href="{{ .Page.RelPermalink }}"
              >{{ i18n "learn_more" }}</a
            >
            <a
              class="c-button c-button--primary"
              href="{{ .Page.Params.eventLink }}"
              target="_blank"
              >{{ i18n "go_to_event" }}</a
            >
          </div>
        </div>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
  <div class="container">
    <h3 class="text-center my-4">Past Events</h3>
    <div class="row">
      {{ range .Site.Taxonomies.categories.event }} {{ if eq
      .Page.Params.pastEvent true }}
      <div class="col-lg-6 mb-4 p-4">
        <div class="card match-height event-card">
          <p class="event-date pb-2">
            {{ if .Page.Params.eventEndDate }} {{ dateFormat (i18n
            "date_format") .Page.Params.eventDate }} - {{ dateFormat (i18n
            "date_format") .Page.Params.eventEndDate }} {{ else }} {{ dateFormat
            (i18n "date_format") .Page.Params.eventDate }} {{ dateFormat (i18n
            "minute") .Page.Params.eventDate }} {{ .Page.Params.timezone }} {{
            end }}
            <span><i class="ti-calendar"></i></span>
          </p>
          <a href="{{ .Page.RelPermalink }}">
            <h5>{{ .Page.Title }}</h5>
          </a>
          <img src="{{ .Page.Params.image |relURL }}" />
          <p>{{ .Page.Description }}</p>
          <div class="event-actions row">
            <a class="c-button c-button--primary-outline" href="{{ .Page.RelPermalink }}"
              >{{ i18n "learn_more" }}</a
            >
            <a
              class="c-button c-button--primary"
              href="{{ .Page.Params.eventLink }}"
              target="_blank"
              >{{ i18n "watch_recording" }}</a
            >
          </div>
        </div>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</section>

<section class="community-contribution">
  <div class="container">
    <div class="card pt-2 px-4 pb-4">
      <h3 class="text-center my-4">{{ i18n "contributing_to_getistio" }}</h3>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
