{{ define "main" }}
{{- partial "partner-banner.html" . -}}
<section>
  <div class="container">
    <div class="row">
    {{ range where .Site.Pages "Params.type" "partners" }}
      <div class="col-lg-6">
        <div class="card p-4 m-4">
          <h5>{{ .Title }}</h5>
          <p>{{ .Description }}</p>
          <div class="row justify-content-end mr-1">
            <a class="btn btn-sm btn-primary" href="{{ .Page.RelPermalink }}">Learn More</a>
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}