{{ define "main" }} {{- partial "partner-banner.html" . -}}
<section>
  <div class="container">
    <div class="row mb-4">
      {{ range where .Site.Pages "Params.type" "partners" }}
      <div class="col-lg-6">
        <div class="card match-height p-4 m-4">
          <img class="partner-small-logo mb-4" src="{{ .Params.Logo }}" />
          <!-- <h5>{{ .Title }}</h5> -->
          <p>{{ .Description }}</p>
          <div class="row justify-content-end mr-1">
            <a
              class="c-button c-button--primary"
              href="{{ .Page.RelPermalink }}"
              >{{ i18n "learn_more" }}</a
            >
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
