{{ define "main" }}
<section class="pt-5 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Blog</h2>
        <p>Stay up to date on the latest GetIstio news</p>
      </div>
    </div>
  </div>
</section>
<section id="main" class="pb-5 pt-3 blog-list">
 <div class="container">
  <div class="row justify-content-center">
    <p class="mb-4">All posts with the tag <strong>{{ .Title }}</strong>:</p>
    {{ range .Data.Pages }}
      <div class="d-flex align-items-center">
        <!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
        <div style="display: inline-block; margin-right: 30px;">
          {{ with .Params.thumbnail }}
          <img src="{{.}}" class="card-img-top" alt="..." style="width: 200px; height: 200px;" />
          {{ else }}
          <img src="/images/blog-default.png" class="card-img-top" alt="..." style="width: 200px; height: 200px;" />
          {{ end }}
        </div>

        <div style="display: inline-block;" class="blog-overview">
          <p>{{ dateFormat "Jan 02, 2006" .Date }} / {{ math.Round (div (countwords .Content) 220.0) }} min read</p>
          <a href="{{ .Permalink | relURL }}" class="blog-link">
            <h5 class="card-title">{{.Title}}</h5>
          </a>
          {{ if isset .Params "author"}}
          <p class="author-info">by {{ .Params.Author | markdownify }}</p>
          {{ end }}
          <p class="card-text mb-3">
            {{ .Params.Description }}
          </p>
          <a href="{{ .Permalink | relURL }}">Continue Reading →</a>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}