/**
 * Hero
 *
 * Group: Components
 */

.c-hero {
  $this: &;
  background-color: var(--color-neutral-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: min-content;
  min-width: 100vw;
  margin-left: -50vw;
  left: 50%;

  @include mq($from: tablet) {
    min-height: 440px;
  }

  @include mq($from: desktop) {
    min-height: 520px;
  }

  @include mq($from: desktop) {
    padding-top: calc(var(--header-height) + var(--space-2xl));
  }

  &__wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    > div {
      width: auto;
    }
  }

  &__bg {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--left {
    #{$this}__wrap {
      align-items: flex-start;
      text-align: left;
    }
  }

  &--compact {
    @include mq($from: tablet) {
      min-height: 320px;
    }

    @include mq($from: desktop) {
      min-height: 320px;
    }
  }

  &--large {
    max-height: 800px;

    @include mq($from: tablet) {
      height: 90vh;
    }

    &:not(#{$this}--dark) {
      background-color: var(--color-light);
    }
  }
}
