/**
 * Button
 *
 * Group: Components
 */

.c-button {
	$this: &;

	@include button;
	@include buttonSize;

	/**
	 * Button States
	 */
	&[disabled] {
		cursor: not-allowed;
		box-shadow: none;
		opacity: 0.6;
	}

	/**
	 * Button Parts
	 */
	&__icon {
		max-width: var(--icon-sm);
		margin-right: var(--space-sm)
	}

	i {
		& + span {
			margin-left: var(--space-sm);
		}
	}

	span {
		& + i {
			margin-left: var(--space-sm);
		}
	}

	/**
	 * Button Styles
	 */
	&--primary {
		@include buttonStyle('primary', true);
	}

	&--primary-outline {
		@include buttonStyle('primary-outline', true);
	}

	&--secondary {
		@include buttonStyle('secondary', true);
	}

	&--secondary-outline {
		@include buttonStyle('secondary-outline', true);
	}

	&--tertiary {
		@include buttonStyle('tertiary', true);
	}

	&--tertiary-outline {
		@include buttonStyle('tertiary-outline', true);
	}

	&--quaternary {
		@include buttonStyle('quaternary', true);
	}

	&--quaternary-outline {
		@include buttonStyle('quaternary-outline', true);
	}

	&--light {
		@include buttonStyle('light');
	}

	&--light-outline {
		@include buttonStyle('light-outline');
	}

	&--dark {
		@include buttonStyle('dark');
	}

	&--dark-outline {
		@include buttonStyle('dark-outline');
	}

	&--light-blue {
		@include buttonStyle('light-blue');
	}

	/**
	 * Button Sizes
	 */
	&--xs {
		@include buttonSize('xs');
	}

	&--sm {
		@include buttonSize('sm');
	}

	&--lg {
		@include buttonSize('lg');
	}

}
