/**
 * Code
 *
 * Group: Elements
 */

code {
	background-color: var(--color-neutral-10);
	color: var(--color-primary);
	font-family: var(--font-mono);
	font-weight: var(--font-weight-regular);
	padding: 0 var(--space-xs);
}

pre {

}

