/*
 * Size
 *
 * Group: Utilities
 */

/* Width Utilities */
.u-min-w0 {
	min-width: 0;
}

.u-max-w0 {
	max-width: 0;
}

.u-w100 {
	width: 100%;
}

/* Height Utilities */
.u-min-h0 {
	min-height: 0;
}

.u-max-h0 {
	max-height: 0;
}

.u-h100 {
	height: 100%;
}

.u-full-width {
	min-width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
}
