/**
 * Background
 *
 * Group: Utilities
 */

.u-bg {

	&-cover {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&-cover-left {
		background-position: 40%;

		@include mq($from: tablet) {
			background-position: center;
		}
	}

	&-cover-right {
		background-position: -40%;

		@include mq($from: tablet) {
			background-position: center;
		}
	}

}
