/**
 * Display
 *
 * Group: Utilities
 */

.u-hidden {
	display: none !important;
}

.u-d-flex {
	display: flex;
}

.u-d-block {
	display: block;
}

.u-d-inline-block {
	display: inline-block;
}


.u-fd-column {
	flex-direction: column;
}

.u-ai-center {
	align-items: center;
}

.u-jc-center {
	justify-content: center;
}

.u-pointer {
	cursor: pointer !important;
}
.u-pe-none {
	pointer-events: none;
}

.u-pos-r {
	position: relative !important;
}

.u-overflow-h {
	overflow: hidden !important;
}
