/**
 * Space X
 *
 * Group: Utilities
 */

[class*="u-space-x"] {
	> * {
		margin-left: 0 !important;
		margin-right: 0 !important;

		+ * {
			margin-left: var(--space-md) !important;
		}
	}
}

body {
	.u-space-x-sm > * + * {
		margin-left: var(--space-sm) !important;
	}

	.u-space-x-lg > * + * {
		margin-left: var(--space-lg) !important;
	}

	.u-space-x-xl > * + * {
		margin-left: var(--space-xl) !important;
	}

	.u-space-x-2xl > * + * {
		margin-left: var(--space-2xl) !important;
	}
}
