/**
 * Opacity
 *
 * Group: Utilities
 */

.u-opacity-5 {
  --opacity: 0.05;
}

.u-opacity-10 {
  --opacity: 0.1;
}

.u-opacity-15 {
  --opacity: 0.15;
}

.u-opacity-20 {
  --opacity: 0.2;
}

.u-opacity-25 {
  --opacity: 0.25;
}

.u-opacity-30 {
  --opacity: 0.3;
}

.u-opacity-35 {
  --opacity: 0.35;
}

.u-opacity-40 {
  --opacity: 0.4;
}

.u-opacity-45 {
  --opacity: 0.45;
}

.u-opacity-50 {
  --opacity: 0.5;
}

.u-opacity-55 {
  --opacity: 0.55;
}

.u-opacity-60 {
  --opacity: 0.6;
}

.u-opacity-65 {
  --opacity: 0.65;
}

.u-opacity-70 {
  --opacity: 0.7;
}

.u-opacity-75 {
  --opacity: 0.75;
}

.u-opacity-80 {
  --opacity: 0.8;
}

.u-opacity-85 {
  --opacity: 0.85;
}

.u-opacity-90 {
  --opacity: 0.9;
}

.u-opacity-95 {
  --opacity: 0.95;
}

.u-opacity-100 {
  --opacity: 1;
}
