<footer>
  <div class="container">
    <div class="row align-items-center pb-0 footer-logo">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        {{ if .Site.Params.logo }}
        <img id="getistio-footer-logo" class="img-fluid" src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}">
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
      </a>
      <a href="https://www.tetrate.io" target="_blank">
        <img id="tetrate-footer-logo" class="img-fluid" src="/images/tetrate-logo.svg" alt="Tetrate Logo">
      </a>
    </div>
    <div class="py-4 text-center">
      <div class="mb-4">
        <ul class="list-inline social-icons text-lg-center text-center">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank" aria-label="{{ .alt }}" ><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <small class="text-white">Support: Join our <a href="https://tetr8.io/tetrate-community" target="_blank">#tid-and-getmesh Slack Channel</a> for Community Support</small><br />
      <small class="text-white">License: Tetrate Istio Distro is an open source project and is released under Apache License 2.0 | <a href="https://www.tetrate.io/privacy" target="_blank">Privacy Statement</a></small><br />
      <small class="text-white">Official project site of istio is <a href="https://www.istio.io" target="_blank">istio.io</a></small><br />
      <small class="text-white">Copyright &copy; {{ dateFormat "2006" now }} <a href="https://www.tetrate.io" target="_blank">Tetrate</a> All rights reserved.</small>
    </div>
  </div>
</footer>

<!-- search index -->
<script type="text/javascript">
  var indexURL = {{ "index.json" | relURL }};
  {{ if .Site.IsMultiLingual }}
  var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
  var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
</script>

<!-- JS Plugins -->
{{ $permalink:= .Permalink }}
{{ range site.Params.plugins.js}}
{{ if eq $permalink (.page | lower | urlize | relURL ) }}
<script src="{{ .link | relURL }}" {{.attributes | safeHTMLAttr}}></script>
{{ else if eq .page "/"}}
<script src="{{ .link | relURL }}" {{.attributes | safeHTMLAttr}}></script>
{{ else }}
<script src="{{ .link | relURL }}" {{.attributes | safeHTMLAttr}}></script>
{{ end }}
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
{{ $formScript := resources.Get "js/form.js" | minify}}
<script src="{{ $script.Permalink | relURL }}"></script>
<script src="{{ $formScript.Permalink | relURL }}"></script>

<!-- Hubspot form load  -->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js?pre=1"></script>
