<head>
  <meta charset="utf-8">

  <!-- Render all meta tags -->
  {{ partial "meta" . }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3J9XNBME4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-P3J9XNBME4');
  </script>

  <!-- critical CSS -->
  {{ if .Page.IsHome }}
    {{ partial "main-style" .}}
  {{ else if eq .Page.Title "Community Events"}}
    {{ partial "community-style" . }}
  {{ else if eq .Page.Title "Partners"}}
    {{ partial "partners-style" . }}
  {{ end }}

  <!-- plugins -->
  {{ $permalink:= .Permalink }}
  {{ range site.Params.plugins.css}}
  {{ if eq $permalink (.page | lower | urlize | relURL ) }}
  <link rel="preload" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  {{ else if eq .page "/"}}
  <link rel="preload" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  </noscript>
  {{ else }}
  <link rel="stylesheet" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  </noscript>
  {{ end }}
  {{ end }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Bootstrap Stylesheet -->
  {{ $bootstrap := resources.Get "css/bootstrap/bootstrap.min.css" | resources.ToCSS (dict "outputStyle" "compressed") | postCSS}}
  <link rel="preload" href="{{ $bootstrap.Permalink | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ $bootstrap.Permalink | relURL }}">
  </noscript>

  <!-- Main Stylesheet -->
  {{ $styles := resources.Get "scss/style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | postCSS}}
  <link rel="preload" href="{{ $styles.Permalink | relURL }}" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}">
  </noscript>


  <!--Favicon-->
  <link rel="shortcut icon" href="{{ `images/getistio-favicon.png` | relURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/getistio-favicon.png` | relURL }}" type="image/x-icon">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}

  <!-- Turbolinks -->
  {{ $turbolinks := resources.Get "js/turbolinks.js" | minify}}
  <script async defer src="{{ $turbolinks.Permalink | relURL }}"></script>

</head>
