<head>
  <meta charset="utf-8">

  <!-- Render all meta tags -->
  {{ partial "meta" . }}

  <!-- critical CSS -->
  {{ partial "main-style" .}}

  <!-- plugins -->
  {{ $permalink:= .Permalink }}
  {{ range site.Params.plugins.css}}
  {{ if eq $permalink (.page | lower | urlize | relURL ) }}
  <link rel="preload" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  </noscript>
  {{ else if eq .page "/"}}
  <link rel="preload" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  </noscript>
  {{ else }}
  <link rel="preload" href="{{ .link | relURL }}" as="style" {{.attributes | safeHTMLAttr}}
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ .link | relURL }}">
  </noscript>
  {{ end }}
  {{ end }}

  <!-- Main Stylesheet -->
  {{ $styles := resources.Get "scss/style.scss" | toCSS }}
  <!-- <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}" media="screen"> -->

  <link rel="preload" href="{{ $styles.Permalink | relURL }}" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}">
  </noscript>

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ `images/getistio-favicon.png` | relURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/getistio-favicon.png` | relURL }}" type="image/x-icon">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}

  <!-- Turbolinks -->
  {{ $turbolinks := resources.Get "js/turbolinks.js" | minify}}
  <script src="{{ $turbolinks.Permalink | relURL }}"></script>
  
</head>
