{{ "<!-- navigation -->" | safeHTML }}
<header class="sticky-top navigation {{if .IsHome}}top-0{{end}}">
  <div class="my-container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="navbar-brand-container">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
          {{ if .Site.Params.logo }}
          <img
            class="img-fluid logo-width"
            src="{{ .Site.Params.logo | relURL }}"
            alt="{{ .Site.Title }}"
          />
          {{ else }} {{ .Site.Title }} {{ end }}</a
        >
      </div>
      <button
        aria-label="Menu"
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
      >
        <i class="ti-menu h4 text-white"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto align-items-center">
          {{ range .Site.Menus.main }} {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}"
                >{{ .Name }}</a
              >
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            {{ if in .URL "http"}}
            <a class="nav-link" href="{{ .URL | relLangURL }}" target="_blank"
              >{{ .Name }} {{.Pre}}</a
            >
            {{ else }}
            <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }} {{ end }}
        </ul>

        <!-- for mobile -->
        <div class="d-lg-none d-block">
          {{ range site.Params.nav_button }}
          <a
            href="{{ .link | relLangURL }}"
            class="btn btn-sm {{if eq .style `outline`}}btn-outline-primary{{else}}btn-primary{{end}} ml-lg-4"
            >{{ .label}}</a
          >
          {{ end }}
        </div>
        <!-- /for mobile -->
      </div>
      <!--
      {{if not .IsHome }}
      <form class="form-inline search-wrapper my-3" class="search-wrapper" action="{{`search` | relLangURL}}">
        <input id="search-by" name="s" type="search" class="form-control" placeholder="Search here ...">
        <button class="border-0 bg-white" type="submit"><i class="ti-search"></i></button>
      </form>
      {{ end }}
-->

      <!-- for desktop -->
      <div class="d-lg-flex d-none">
        {{ range site.Params.nav_button }}
        <a
          href="{{ .link | relLangURL }}"
          class="btn btn-sm {{if eq .style `outline`}}btn-outline-primary{{else}}btn-primary{{end}} ml-lg-4"
          >{{ i18n .label }}</a
        >
        {{ end }}
      </div>
      <!-- /for desktop -->
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
