/**
 * Button Group
 *
 * Group: Objects
 */

.o-button-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;

	@include mq($from: phablet) {
		flex-direction: row;
		max-width: 100%;
		align-items: center;
	}

	> a,
	> button {

		&:not(:first-child) {
			margin: var(--space-unit) 0 0;

			@include mq($from: phablet) {
				margin: 0 0 0 var(--space-md);
			}
		}
	}

	&--lg {
		> a,
		> button {

			&:not(:first-child) {
				margin: var(--space-md) 0 0;

				@include mq($from: phablet) {
					margin: 0 0 0 var(--space-lg);
				}
			}
		}
	}

	/**
	 * Load more wrapper
	 */
	&--load-more {
		border-top: 1px solid var(--color-gray-light);
		justify-content: center;
		margin-top: var(--space-lg);
		padding-top: var(--space-lg);
	}

	/**
	 * Center align option
	 */
	&--center {
		align-items: center;
		justify-content: center;
		margin-top: var(--space-lg);

		@include mq($from: tablet) {
			justify-content: flex-start;
		}
	}

	/*
	 * Vertical option
	 */
	&--vertical {

		@include mq($from: phablet) {
			flex-direction: column;
			max-width: max-content;
		}

		> a,
		> button {

			&:not(:first-child) {
				@include mq($from: phablet) {
					margin: var(--space-md) 0 0;
				}
			}
		}
	}

}
