/**
 * Container
 *
 * Group: Objects
 */

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); // 1440px
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  position: relative;
  width: 100%;
  z-index: 1;

  &--xs {
    max-width: var(--max-width--xs); // 780px
  }

  &--sm {
    max-width: var(--max-width--sm); // 920px
  }

  &--md {
    max-width: var(--max-width--md); // 980px
  }

  &--lg {
    max-width: var(--max-width--lg); // 1160px
  }

  &--xl {
    max-width: var(--max-width--xl); // 1280px
  }

  &--2xl {
    max-width: var(--max-width--2xl); // 1440px
  }

  &--left {
    margin-left: 0;
    margin-right: 0;
  }

  &--right {
    margin-right: 0;
  }

  /* Container inside a container */
  [class^='o-container'],
  [class*=' o-container'] {
    padding-left: 0;
    padding-right: 0;
  }

  /* Container inside a container but with full-width class between them */
  .u-full-width {
    [class^='o-container'],
    [class*=' o-container'] {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
}
