{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 text-center text-lg-left">
        <!-- {{ with .Site.Params.banner }} -->
        <ol class="home-order-list">
          <li class="mb-4">
            <p class="list-title">Vetted distribution of upstream Istio tested for use in specific Kubernetes environments,
              including EKS-D</p>
            <p class="list-quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
            <div>Similar: 
              <ul class="similar-list">
                <li>amjad</li>
                <li>amjad</li>
                <li>amjad</li>
                <li>amjad</li>
              </ul>
            </div>
          </li>
          <li class="mb-4">
            <p class="list-title">TECHNICAL</p>
            <p class="list-quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
            <div>Similar: 
              <ul class="similar-list">
                <li>amjad</li>
                <li>amjad</li>
                <li>amjad</li>
                <li>amjad</li>
              </ul>
            </div>
          </li>
          <li class="mb-4">
            <p class="list-title">Hub for Istio integrations, including public key infrastructure components from ???, Vanfi,
              Key Factor and others</p>
            <p class="list-quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
          </li>
          <li class="mb-4">
            <p class="list-title">Community of Istio users, contributors, and technology partners</p>
            <p class="list-quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
          </li>
        </ol>
        <!-- <p class="mb-4">1. Vetted distribution of upstream Istio tested for use in specific Kubernetes environments,
          including EKS-D</p> -->
        <!-- {{ end }} -->
        <!-- <form class="search-wrapper" action="{{ `search` | relLangURL }}">
          <input id="search-by" name="s" type="search" class="form-control form-control-lg" placeholder="{{ i18n `search_placeholder`}}">
          <button type="submit" class="btn btn-primary">{{ i18n "search" }}</button>
        </form> -->
      </div>
      <div class="col-lg-6 home-code">
        <!-- <img loading="lazy" src="{{ .Site.Params.banner.image | absURL }}" alt="illustration" class="img-fluid"> -->
        
          <pre><code>var dynamicWep = passive_eup_cable - rdram + application_srgb_barebones;
            os_hyper_address = tutorialNocUnix;
            mpFileFramework.pRowStick = 5 + xslt_mca;
            </code><span class="copy-to-clipboard">copy</span></pre>
      </div>
    </div>
  </div>
</section>

<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <!-- <h2 class="section-title">{{ i18n "topics" }}</h2> -->
    <div class="row">
      {{ range first 4 (where .Site.Pages "Type" "docs") }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon {{ .Params.Icon }} mb-4"></i>
            <h3 class="card-title h4">{{ .Title }}</h3>
            <p class="card-text">{{ .Params.Description }}</p>
            <a href="{{ .Permalink }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /topics -->

<!-- faq -->
<!-- {{ with .Site.GetPage "/faq" }}
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">{{ .Title }}</h2>
    <div class="row masonry-wrapper">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }} -->
<!-- /faq -->

<!-- call to action -->
{{ if .Site.Params.call_to_action.enable }}
{{ with .Site.Params.call_to_action }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center d-lg-block d-none">
        <img loading="lazy" src="{{ .image| absURL }}" class="img-fluid">
      </div>
      <div class="col-lg-8 text-lg-left text-center">
        <div class="box">
          <h2 class="mb-3">Get Community Updates</h2>
          <p>Sign up for our GetIstio community newsletter to get the most recent updates and product announcements.</p>
          <div class="form-control">
            <input type="email" class="input" placeholder="Work Email"/ required>
            <button class="btn btn-sm btn-primary">Join Newsletter</button>
          </div>
        </div>
             
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}