{{ define "main" }}
<main id="main" class="o-main">

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.hero.enable }}
{{ with $data.homepage.hero }}
<section class="c-hero o-content-split o-content-split--hero o-content-split--reverse o-section o-section--2xl">
	<div class="o-content-split__wrap o-container o-container--xl">

    <div class="o-content-split__media-wrap">
        <div class="c-hero__image-wrapper">
          <!-- embedded asciinema for the time being is more stable -->
				  <script src="https://asciinema.org/a/{{ .asciinema_id }}.js" id="asciicast-{{ .asciinema_id }}" data-size="11px" data-speed="2" async></script>
        </div>
    </div>

    <div class="o-content-split__text-wrap u-rhythm-lg">
      <h1 class="c-heading o-content-split__text-heading u-font-h2">{{ .title }}</h1>
      {{ if.subtitle }}
        <div class="u-fz-h6 u-color-dark ">
	        {{ .subtitle }}
        </div>
      {{ end }}
      {{ if .lead_item  }}
      <ul class="hero">
        {{ range.lead_item }}
        <li class="lead">{{ .content }}</li>
        {{ end }}
      </ul>
      {{ end }}

      	{{ if and (.cta_url) (.cta_title) }}
			<p>
				<span>
					<a class="c-button c-button--primary" href="{{ .cta_url }}">{{ .cta_title }} <i class="material-icons" aria-hidden="true">arrow_forward</i></a>
				</span>
			</p>
      	{{ end }}
		</div>

	</div>

  <img decoding="async" class="c-hero__bg" src="{{ .bg }}" alt="{{ .title }}">
</section>

{{ end }}
{{ end }}

{{ if $data.homepage.why_istio.enable }}
{{ with $data.homepage.why_istio }}
<section class="o-section o-section--2xl u-bg-color-neutral-05 u-ta-center">
  	<div class="o-container o-container--xl">

		{{if .heading  }}
		<div class="c-section-heading">
			<div class="c-section-heading__wrap u-rhythm o-container o-container--lg">
				<h2 class="c-heading c-section-heading__title u-font-h2 u-color-primary">
					{{ .heading }}
				</h2>
			</div>
		</div>
		{{ end }}

		<div class="u-rhythm-xl">
			{{if .image  }}
				<p class="image-center">
					<img src="{{ .image }}" alt="{{ .heading }}" />
				</p>
			{{ end }}

			{{if .text  }}
				<p class="u-font-lg">{{ .text }}</p>
			{{ end }}

			{{if .subheading  }}
				<p class="u-font-h3">{{  .subheading }}</p>
			{{ end }}

			{{if .cards  }}
				<div class="box-cards">
					{{ range.cards }}
						<div class="box-card">
						<h3 class="u-font-h5">{{  .title }}</h3>
						<p>{{ .content }}</p>
					</div>
					{{ end }}
				</div>
			{{ end }}

		</div>

	</div>
</section>
{{ end }}
{{ end }}


{{ if $data.homepage.start.enable }}
{{ with $data.homepage.start }}
<section class="o-section o-section--2xl u-bg-color-light-gradient u-ta-center">
	<div class="o-container o-container--xl">

	{{if .heading  }}
		<div class="c-section-heading">
			<div class="c-section-heading__wrap u-rhythm o-container o-container--lg">
				<h2 class="c-heading c-section-heading__title u-font-h2 u-color-primary">
				{{  .heading }}
				</h2>
			</div>
		</div>
	{{ end }}

    <div class="u-rhythm-lg">
		{{if .subheading  }}
			<p class="u-font-h6 u-fw-500">{{ .subheading }}</p>
		{{ end }}

		{{if .installation_options  }}
			<div class="o-button-group o-button-group--center">
				{{ range.installation_options }}
					<a class="c-button c-button--primary" href="{{ .url }}">{{ .text }} <i class="material-icons" aria-hidden="true">arrow_forward</i></a>
				{{ end }}
			</div>
		{{ end }}

		<div class="u-rhythm">
			{{if .callout_heading  }}
				<p class="u-font-h6 u-fw-500">{{ .callout_heading }}</p>
			{{ end }}

			{{if .callout_text_one  }}
				<p>{{ safeHTML .callout_text_one }}</p>
			{{ end }}

			{{if .callout_text_two  }}
				<p>{{ safeHTML .callout_text_two }}</p>
			{{ end }}
		</div>
	 </div>

    </div>

  </div>
</section>
{{ end }}
{{ end }}


{{ if $data.homepage.logos.enable }}
{{ with $data.homepage.logos }}
<section id="block_106c3ff0323b9f3950a5f153830b65c2" class="o-section u-bg-color-light-gradient o-section--3xl" data-theme="light">

	<div class="c-section-heading">
		<div class="c-section-heading__wrap u-rhythm o-container o-container--lg">
			<h2 class="c-heading c-section-heading__title u-font-h2 u-color-primary">
				TID Adopters
			</h2>
		</div>
	</div>

	{{ if .items  }}
		<div class="c-logos c-logos--centered o-container o-container--2xl">
			{{ range.items }}
				<div class="c-logo">
					<img decoding="async" src="{{ .url }}" alt="{{ .title }}">
				</div>
			{{ end }}
		</ul>
	{{ end }}

</section>
{{ end }}
{{ end }}


{{ if $data.homepage.callout.enable }}
{{ with $data.homepage.callout }}
<section id="block_bde3bcd580cfae982de8a8a4f11ffe9e" class="c-callout o-section--3xl u-bg-color-primary">
	<div class="c-callout__wrap u-rhythm-lg o-container o-container--md">

    <h2 class="c-heading u-font-h3 u-color-light">{{ .heading }}</h2>


    <div class="o-button-group o-section__button-group">
      <a href="{{ .link_url }}" target="{{ .link_target }}" class="c-button c-button--light">
	      <span>{{ .link_text }}</span>
	      <i class="material-icons" aria-hidden="true">arrow_forward</i>
      </a>
    </div>

    <img class="img-fluid u-mt-lg" src="{{ .image }}" alt="{{ .heading }}">

	</div>
</section>
{{ end }}
{{ end }}


</main>
{{ end }}
