/**
 * Font Smooth
 *
 * Group: Tools
 */

/* edit font rendering -> tip: use for light text on dark backgrounds */
@mixin fontSmooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
