{{ $manifest := getJSON "https://tetrate.bintray.com/getistio/manifest.json" }}
   <table>
      <th>Distribution type</th>
      <th>Istio version</th>
      <th>Release Notes</th>
      <th>Full Istio download URL</th>
      <th>Istioctl download URL</th>

   {{ range $manifest.istio_distributions }}  
     {{ $release_url := index (.release_notes) 0}}
     <tr>
       <td> {{ .flavor }}-v{{ .flavor_version }} </td>
       <td> {{ .version }} </td>
       <td> <a href={{ $release_url }}>Release Notes {{ .version }}</a> </td> 
       <td><strong>Istio Distro</strong><br>
        <a href="https://tetrate.bintray.com/getistio/istio-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-amd64.tar.gz">amd64</a> <br>
        <a href="https://tetrate.bintray.com/getistio/istio-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-arm64.tar.gz">arm64</a> <br>
        <a href="https://tetrate.bintray.com/getistio/istio-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-armv7.tar.gz">armv7</a> <br>
       </td>
       <td><strong>istioctl</strong><br>
        <a href="https://tetrate.bintray.com/getistio/istioctl-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-amd64.tar.gz">amd64</a><br>
        <a href="https://tetrate.bintray.com/getistio/istioctl-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-arm64.tar.gz">arm64</a><br>
        <a href="https://tetrate.bintray.com/getistio/istioctl-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-linux-armv7.tar.gz">armv7</a><br>
      </td>
    </tr>
   {{ end }}
   </table>
