{{ $manifest := getJSON "https://tetrate.bintray.com/getistio/manifest.json" }}
   <table>
      <th>Distribution type</th>
      <th>Istio version</th>
      <th>Release Notes</th>
      <th>Full Istio download URL</th>
      <th>Istioctl download URL</th>
   {{ range $manifest.istio_distributions }}  
     {{ $release_url := index (.release_notes) 0}}
     <tr>
       <td>{{ .flavor }}-v{{ .flavor_version }} </td>
       <td>{{ .version }} </td>
       <td><a href={{ $release_url }}>Release Notes {{ .version }}</a> </td> 
       <td><a href="https://tetrate.bintray.com/getistio/istio-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-osx.tar.gz">Istio Distro</a> </td>
       <td><a href="https://tetrate.bintray.com/getistio/istioctl-{{ .version }}-{{ .flavor }}-v{{ .flavor_version }}-osx.tar.gz">istioctl</a> </td>
      </tr>
   {{ end }}
   </table>
       <br>
       <br>
   <strong> Please note that the following versions of Istio are scheduled to be out of support: </strong>
   <table>
      <th>Istio version:</th>
      <th>EOL Date</th>
   {{ range $key, $value := $manifest.istio_minor_versions_eol_dates }}  
     <tr>
      <td> {{ $key }}</td>
      <td> {{ $value }}</td>
     </tr>
   {{ end }}
   </table>

