<strong>GetIstio ensures that all Istio minor releases are supported for at least 14 months support (since the release date).</strong>
<br>
<br>
The currently supported versions are <strong> 
{{ $manifest := getJSON "https://tetrate.bintray.com/getistio/manifest.json" }}
   {{ range $manifest.istio_distributions }}
      {{ .version }},
   {{ end }}

</strong>
<br>
<br>
<strong>The following versions will be out of support in the next two months</strong> - please upgrade to the supported versions.
{{ $manifest := getJSON "https://tetrate.bintray.com/getistio/manifest.json" }}
     {{ range $version, $eos_time := $manifest.istio_minor_versions_eol_dates }}
        
        {{ $t1 := time $eos_time }}
	{{ $t2 := $t1.Sub time.Now }}
	
	{{ if (gt $t2 0) and (gt 5184000000 $t2) }}	     

	<strong>  {{ $version }} (ends on {{ $eos_time }}), </strong>  
       {{ end }}
     {{ end }}

