Below are the direct URLs to obtain <i>latests <b id="LatestGetIstioVersion"></b></i> GetIstio tarballs for
<a id="LinuxURL">Linux</a> and 
<a id="MacOSURL">MacOS</a>.

<script>
    var LINUX_AMD64_PREFIX = "https://tetrate.bintray.com/getistio/getistio_linux_amd64_";
    var MACOS_AMD64_PREFIX = "https://tetrate.bintray.com/getistio/getistio_darwin_amd64_";
    var GETISTIO_LATEST_VERSION = "0.5.0";
    var VERSION_PREFIX = "v";
    var LINUX_AMD64_COMPLETE_URL = LINUX_AMD64_PREFIX.concat(VERSION_PREFIX,GETISTIO_LATEST_VERSION);
    var MACOS_AMD64_COMPLETE_URL = MACOS_AMD64_PREFIX.concat(VERSION_PREFIX,GETISTIO_LATEST_VERSION);
    document.getElementById("LatestGetIstioVersion").innerHTML = GETISTIO_LATEST_VERSION;
    document.getElementById("LinuxURL").setAttribute("href",LINUX_AMD64_COMPLETE_URL);
    document.getElementById("MacOSURL").setAttribute("href",MACOS_AMD64_COMPLETE_URL);
</script>

