  {{ $manifest := getJSON "https://tetrate.bintray.com/getistio/manifest.json" }}

  {{ $.Scratch.Set "highest_minor_security_patches" slice }}

  {{ range $manifest.istio_distributions }} 
    {{ if .is_security_patch }} 
      {{ $.Scratch.Add "security_patches_list" (slice .version) }}  
    {{ end }}
  {{ end }}

   {{ range $version_value := $.Scratch.Get "security_patches_list" }} 
     {{ $.Scratch.Add "version_trimmed" (slice (strings.TrimRight "." (slicestr $version_value 0 4))) }} 
   {{ end}}

   {{ range $version_supported := uniq (.Scratch.Get "version_trimmed") }}
     {{ $previous_value := 0 }}
       {{ range $version_value := $.Scratch.Get "security_patches_list" }} 
         {{ if findRE $version_supported $version_value }}
           {{ $subversion := (int (strings.TrimLeft "." (substr $version_value -2))) }}
           {{ if lt $previous_value $subversion }}
              {{ $previous_value = $subversion }} 
              {{ $.Scratch.Set "highest_minor_security_patches" $version_value }} 
           {{ end }}
         {{ end }}
     {{ end }}
     {{ $.Scratch.Add "security_patched_versions" (slice ($.Scratch.Get "highest_minor_security_patches")) }}
   {{ end }}

   {{ $security_patch_number := (len ($.Scratch.Get "highest_minor_security_patches")) }}
   {{ if gt $security_patch_number 0 }}
     Please make sure that your Istio distro is updated with <strong>the latest security patch levels</strong> that curently - 
     <strong>  {{ delimit (uniq ($.Scratch.Get "security_patched_versions")) ", " " and " }} </strong> 
     <br>
   {{ end }}
